
@media screen and (min-width: 768px) {

    .sidebar {
        width: clamp(300px, 100%, 400px);
        height: 100%;
        min-height: 100vh;
        background: var(--primary-color);
        padding: 20px 25px;
    }

    .logoDesktop {
        display: block;
        cursor: pointer;
        padding: 10px 20px;
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;
    }
}